<div class="container" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="95%">

        <mat-card>
            <mat-card-content>
                <h2>Modifier un test</h2>

                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

                    <mat-form-field appearance="fill">
                        <mat-label>Choisissez un élément</mat-label>
                        <mat-select (selectionChange)="onSelectTest($event.value)">
                            <mat-option *ngFor="let test of testList" [value]="test">
                                {{test.titre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-icon-button color="primary" *ngIf="selectedTest" (click)="onDeleteTest()">
                        <mat-icon>delete</mat-icon>
                    </button>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>