<div class="container" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="95%">

        <mat-card>
            <mat-card-content>
                <h2>Ajouter un test</h2>

                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <form>
                        <div fxLayout="row">

                            <mat-form-field class="full-width">
                                <input matInput placeholder="Titre" (input)="onChangeTitre($event.target.value)">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <input matInput placeholder="Description"
                                    (input)="onChangeDescription($event.target.value)">
                            </mat-form-field>

                            <button mat-raised-button color="primary" *ngIf="titre && description"
                                (click)="onAddTest()">Enregistrer</button>

                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>