/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .container {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }